# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Dependencies
/node_modules
/.opencode
/.agents

# Compiled output
/dist
/tmp
/out-tsc
.firebase

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
docs/*
.angular/*


# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Firebase local config put real values in this file
/public/assets/config/app-settings.local.json